<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Réinitialiser mot de passe</h5>
                <!--  <p>Nouveau mot de passe avec SRA-Sign.</p> -->
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/signature-électronique.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logosra.png" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

              <div class="mb-3">
                <label for="email">Email</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">L'email est obligatoire</div>
                  <div *ngIf="f.email.errors.email">L'email doit être valide.</div>
                </div>
              </div>
              <div class="text-end">
                <button class="btn btn-primary w-md" type="submit">Réinitialiser</button>
              </div>
            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p>Se souvenir d'elle ? <a routerLink="/account/login" class="fw-medium text-primary"> Se Connecter ici</a> </p>
          <p>© {{year}} SRA-Sign. Conçu avec <i class="mdi mdi-heart text-danger"></i></p>
        </div>

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->